# General
yarn-error.log
node_modules
.DS_STORE

# Foundry files
cache/
out/*/*
out-via-ir

# Config files
.env
.vscode

# Not ignore gitkeep
!/**/.gitkeep

broadcast/**

# Docs build files
docs/book
docs/src/solidity